<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Manage MathProblems</title>
    <style>
        /* Style the text area to set width and height */
        #textArea {
            width: 800px; /* Set the width of the text area */
            height: 200px; /* Set the height of the text area */
            overflow-y: auto; /* Add a vertical scroll bar */
            overflow-x:auto;
            resize: none; /* Disable resizing of the text area */
        }
        .framed-cell {
		    border: 1px solid black; /* Add frame */
		    width: 50%; /* Set width to 50% */
		}
		.input-match-height {
            width: 100%;
            height: 100%;
            border: none;
            padding: 0;
            margin: 0;
            resize: none; /* Prevent resizing of textarea */
            outline: none; /* Remove the outline when focused */
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container my-5">
  <div>
    Start Index: <input type="number" id="startIndexInput" value="1">
    End Index: <input type="number" id="endIndexInput" value="5">
    <button type="button" onclick="filterRecords()">Filter</button>
   
</div>
    <form id="myForm">
    <h2 th:text="${sub} + ' Test'"></h2>
   
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Problem Description</th>
                    <th>Solution</th>
                    <th>Answer</th>
                </tr>
            </thead>
            <tbody>
                 <tr th:each="problem, index : ${problems}">
                    <td class="framed-cell" style="width: 5%;font-family: 楷体, KaiTi, serif;font-size: 24px;" th:text="${index.index + 1}"></td> <!-- Displaying Index here -->
                    <td class="framed-cell" style="width: 40%;font-family: 楷体, KaiTi, serif;font-size: 24px;" th:text="${problem.problemDescription}"></td>
                    <td class="framed-cell" style="width: 35%;">
                        <textarea th:text="${problem.solution}" name="solution" class="input-match-height" id="'solutionField-' + ${index.index}"></textarea>
                        <!-- Hidden fields for other properties -->
                        <input type="hidden" th:value="${problem.id}" name="id"/>
                        <input type="hidden" th:value="${problem.problemId}" name="problemId"/>
                        <input type="hidden" th:value="${problem.category}" name="category"/>
                        <input type="hidden" th:value="${problem.subcategory}" name="subcategory"/>
                        <input type="hidden" th:value="${problem.subcategoryId}" name="subcategoryId"/>
                    </td>
                    <td class="framed-cell" style="width: 20%;">
                        <textarea th:text="${problem.answer}" name="answer" onpaste="return false;" class="input-match-height"></textarea>
                    </td>
                    <td><button type="button" th:onclick="'toggleSolution(' + ${index.index} + ');'">Toggle Solution</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="submitButton" type="button" onclick="submitForm()">Submit</button>
    </form>
  </div>

  <script>
  //Function to filter records when the document is loaded
  document.addEventListener("DOMContentLoaded", function() {
      filterRecords();
  });
  
  function filterRecords() {
      var startIndex = parseInt(document.getElementById("startIndexInput").value);
      var endIndex = parseInt(document.getElementById("endIndexInput").value);
      
      var rows = document.querySelectorAll("tbody tr");
      rows.forEach(function(row, index) {
          if (index + 1 >= startIndex && index + 1 <= endIndex) {
              row.style.display = "";
          } else {
              row.style.display = "none";
          }
      });
  }
    function toggleSolution(rowIndex) {
    	  // Get the row array corresponding to the given index
        var rowArray = document.querySelectorAll('tr')[rowIndex+1];
        
        // Find the solution textarea within the row array
        var solutionField = rowArray.querySelector('textarea[name="solution"]');
        
        // Toggle the visibility of the solution textarea
        if (solutionField) {
            solutionField.style.display = (solutionField.style.display === "none") ? "block" : "none";
        } else {
            console.error("Solution textarea not found within the row array.");
        }
    }    
    function submitForm() {
        // Disable the button to prevent multiple submissions
        document.getElementById("submitButton").disabled = true;
        //var subject = /*[[${sub}]]*/ ''; // Get the Thymeleaf subject variable value
        var formData = []; 
        document.querySelectorAll('tr').forEach(function(row, index) {
            
            if (index >= 1){
            	var problem = {};
            	problem['subject']="chinese";
            	problem['problemDescription'] = row.cells[0].textContent;
	            
 	            var solutionTextarea = row.cells[1].querySelector('textarea');
 	            problem['solution'] = solutionTextarea ? solutionTextarea.value : null;
	
	            var answerTextarea = row.cells[2].querySelector('textarea');
	            problem['answer'] = answerTextarea ? answerTextarea.value : null;
 	            problem['id'] = getValueFromInput(row.cells[1].querySelector('input[name="id"]'));
 	            problem['problemId'] = getValueFromInput(row.cells[1].querySelector('input[name="problemId"]'));
 	            problem['category'] = getValueFromInput(row.cells[1].querySelector('input[name="category"]'));
 	            problem['subcategory'] = getValueFromInput(row.cells[1].querySelector('input[name="subcategory"]'));
 	            problem['subcategoryId'] = getValueFromInput(row.cells[1].querySelector('input[name="subcategoryId"]'));
 	            formData.push(problem);
            }
        });

        function getValueFromInput(inputElement) {
            return inputElement ? inputElement.value : null;
        }
        
        fetch('/test', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
        	if (response.ok) {
        	    // If the POST request is successful, redirect to another page
        	    window.location.href = '/test-success';
        	  } else {
        		  window.location.href = '/test-fail';
        	  }
        }).catch(error => {
            // Handle error
            console.error('Error:', error);
        });
    }
  
  </script>
</body>
</html>
