<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"><head>
    <title>Edit Memo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
    <h2>Memo List</h2>
    <ul id="memoList">
        <!-- Generate memo buttons dynamically using Thymeleaf -->
        <li th:each="memo : ${memos}">
            <button class="editButton" th:attr="data-memo-id=${memo.id}" th:text="${memo.title}">Edit</button>
        </li>
    </ul>
    </div>
    <script src="list_memo.js"></script>
</body>
</html>
