<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Manage MathProblems</title>
    <style>
        /* Style the text area to set width and height */
        #textArea {
            width: 800px; /* Set the width of the text area */
            height: 200px; /* Set the height of the text area */
            overflow-y: auto; /* Add a vertical scroll bar */
            overflow-x:auto;
            resize: none; /* Disable resizing of the text area */
        }
    </style>
    
</head>
<body>
    <h2>Add New MathProblem</h2>
    <form action="#" th:action="@{/math/add}" th:object="${newMathProblem}" method="post">
        <p>
        subject:
        <select th:field="*{subject}">
            <option th:each="value : ${subjects}"
                    th:value="${value}"
                    th:text="${value}">
            </option>
        </select>
        </p>
        <p>category: <input type="text" th:field="*{category}" size=60 /></p>
        <p>subcategory: <input type="text" th:field="*{mathSubCategory.name}" size=60 /></p>
        <p>description: <textarea id="textArea" th:field="*{description}" /></textarea></p>
        <p>solution: <textarea id="textArea" th:field="*{solution}" /></textarea></p>
        <p>answer: <input type="text" th:field="*{answer}"></p>
        <p>Multiple Answers: <input type="checkbox" th:field="*{multipleAnswers}" /></p>
        <p><input type="submit" value="Add Math" /></p>
    </form>

    <hr/>

    <h2>Existing MathProblems</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Description</th>
            <th>Solution</th>
            <th>Answer</th>
        </tr>
        <tr th:each="mathproblem : ${mathProblems}">
            <td th:text="${mathproblem.id}"></td>
            <td th:text="${mathproblem.category}"></td>
            <td th:text="${mathproblem.mathSubCategory.name}"></td>
            <td th:text="${mathproblem.description}"></td>
            <td th:text="${mathproblem.solution}"></td>
            <td th:text="${mathproblem.answer}"></td>
        </tr>
    </table>
</body>
</html>
